{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.account'|trans }}
{% endblock %}

{% block title_header %}
    <h1>{{ 'title.account'|trans }}</h1>
{% endblock %}

{% block body %}
    {% if user is defined and user|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.email'|trans }}</dt>
            <dd>{{ user.email }}</dd>
            {% if is_granted('ROLE_ADMIN') %}
                <dt>{{ 'label.roles'|trans }}</dt>
                <dd>
                    {% for role in user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                            <div class="btn btn-secondary btn-sm">{{ 'role.admin'|trans }}</div>
                        {% elseif role == 'ROLE_USER' %}
                            <div class="btn btn-outline-secondary btn-sm">{{ 'role.user'|trans }}</div>
                        {% endif %}
                    {% endfor %}
                </dd>
            {% endif %}
        </dl>

        <p>
            <a href="{{ url('account_edit') }}" class="btn btn-success">
                {{ 'action.account_edit'|trans }}
            </a>
            <a href="{{ url('account_change_password') }}" class="btn btn-danger">
                {{ 'action.change_password'|trans }}
            </a>
        </p>

        <h2>{{ 'title.my_recipes'|trans }}</h2>
        {% if recipes is defined and recipes|length %}
            <ul>
                {% for recipe in recipes %}
                    <li>
                        <a href="{{ url('recipe_view', {id: recipe.id}) }}">
                            {{ recipe.title }}
                        </a>
                        – {{ recipe.createdAt|date('Y/m/d') }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'label.none'|trans }}</p>
        {% endif %}

    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}