{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block title_header %}
    <h1>{{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}</h1>
{% endblock %}

{% block body %}
    {% if category is defined %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ category.createdAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ category.updatedAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ category.title }}</dd>
        </dl>

        <h2>{{ 'title.category_recipes'|trans }}</h2>
        {% if recipes is defined and recipes|length %}
            <ul>
                {% for recipe in recipes %}
                    <li>
                        <a href="{{ url('recipe_view', {id: recipe.id}) }}">
                            {{ recipe.title }}
                        </a>
                        – {{ recipe.createdAt|date('Y/m/d') }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'message.no_recipes_in_category'|trans }}</p>
        {% endif %}

        <p>
            <a href="{{ url('category_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>{{ 'message.record_not_found'|trans }}</p>
    {% endif %}
{% endblock %}
