{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.recipe_list'|trans }}
{% endblock %}

{% block title_header %}
    <h1>{{ 'title.recipe_list'|trans }}</h1>
{% endblock %}

{% block body %}
    <form method="get" action="{{ path('recipe_index') }}" class="mb-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="onlyMine" value="1" id="onlyMine"
                   {% if app.request.get('onlyMine') %}checked{% endif %}>
            <label class="form-check-label" for="onlyMine">
                Tylko moje przepisy
            </label>
        </div>
        <button type="submit" class="btn btn-outline-primary mt-2">
            Filtruj
        </button>
    </form>

    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'recipe.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'recipe.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'recipe.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'recipe.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'category.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.author'|trans, 'recipe.author.email') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for recipe in pagination.items %}
                <tr>
                    <td>{{ recipe.id }}</td>
                    <td>{{ recipe.createdAt|format_date('long') }}</td>
                    <td>{{ recipe.updatedAt|format_date('long') }}</td>
                    <td>{{ recipe.title }}</td>
                    <td>{{ recipe.category.title }}</td>
                    <td>{{ recipe.author.email }}</td>
                    <td>
                        <a class="btn btn-outline-success btn-sm" href="{{ url('recipe_view', {id: recipe.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                        {% if is_granted('RECIPE_EDIT', recipe) %}
                            <a class="btn btn-outline-primary btn-sm" href="{{ url('recipe_edit', {id: recipe.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('RECIPE_DELETE', recipe) %}
                            <a class="btn btn-outline-danger btn-sm" href="{{ url('recipe_delete', {id: recipe.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="bottom">
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

            {% if is_granted('ROLE_USER') %}
                <p>
                    <a href="{{ url('recipe_create') }}" class="btn btn-primary">
                        {{ 'action.recipe_create'|trans }}
                    </a>
                </p>
            {% endif %}
        </div>

    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
{% endblock %}